<ul class="inline-list middle">
  <li>
    <button class="tiny" id="help"> Get Help </button>
  </li>
  <li>
    <button class="tiny" id="cheat"> Turn on cheating </button>
  </li>
  <li>
    <button class="tiny" id="quit"> Quit </button>
  </li>
  <li>
    <button class="tiny" id="start"> Start </button>
  </li>
</ul>