<div class="row">
  <div class="large-12 columns">
    Welcome to the best chess game ever... here's the board
  </div>
  <div class="large-12 columns">
    <a href="#board"><h1>board</h1></a>
  </div>
</div>