p{
  color:green;
}
.black{
  background-color: black;
}
.white{
  background-color: white;
}
.boardSquare{
  width: 50px;
  height: 50px;
  padding: 0px;
}
.innerSquare{
  width: 100%;
  height: 100%;
  margin: 0px;
}
.pieceDiv{
  width: 100%;
  height: 100%;
}
.board{

}
.center{
  text-align: center;
}
.light-gray{
  background-color: #EEE;
}
.dark-gray{
  background-color: #CCC;
}
.highlight-move{
  border: 5px solid #cac;
}
.highlight-attack{
  border: 5px solid #c11;
}