<!DOCTYPE html>

<div class="row">  
  <div class="columns center large-6 medium-9 small-12">

    <table class="board">
      <tr class="row_0" ng-model="board.row_0">
        <td class="center light-gray"> A </td>
        <td class="boardSquare black"><img src="{{row_0[0].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_0[1].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_0[2].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_0[3].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_0[4].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_0[5].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_0[6].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_0[7].getIMG()}}"/></td>
      </tr>
      
      <tr class="row_1" ng-model="board.row_1">
        <td class="center dark-gray"> B </td>
        <td class="boardSquare white"><img src="{{row_1[0].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_1[1].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_1[2].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_1[3].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_1[4].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_1[5].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_1[6].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_1[7].getIMG()}}"/></td>
      </tr>
      
      <tr class="row_2" ng-model="board.row_2">
        <td class="center light-gray"> C </td>
        <td class="boardSquare black"><img src="{{row_2[0].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_2[1].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_2[2].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_2[3].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_2[4].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_2[5].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_2[6].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_2[7].getIMG()}}"/></td>
      </tr>
      
      <tr class="row_3" ng-model="board.row_3">
        <td class="center dark-gray"> D </td>
        <td class="boardSquare white"><img src="{{row_3[0].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_3[1].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_3[2].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_3[3].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_3[4].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_3[5].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_3[6].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_3[7].getIMG()}}"/></td>
      </tr>
      
      <tr class="row_4" ng-model="board.row_4">
        <td class="center light-gray"> E </td>
        <td class="boardSquare black"><img src="{{row_4[0].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_4[1].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_4[2].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_4[3].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_4[4].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_4[5].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_4[6].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_4[7].getIMG()}}"/></td>
      </tr>
      
      <tr class="row_5" ng-model="board.row_5">
        <td class="center dark-gray"> F </td>
        <td class="boardSquare white"><img src="{{row_5[0].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_5[1].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_5[2].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_5[3].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_5[4].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_5[5].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_5[6].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_5[7].getIMG()}}"/></td>
      </tr>
      
      <tr class="row_6" ng-model="board.row_6">
        <td class="center light-gray"> G </td>
        <td class="boardSquare black"><img src="{{row_6[0].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_6[1].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_6[2].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_6[3].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_6[4].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_6[5].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_6[6].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_6[7].getIMG()}}"/></td>
      </tr>

      <tr class="row_7" ng-model="board.row_7">
        <td class="center dark-gray"> H </td>
        <td class="boardSquare white"><img src="{{row_7[0].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_7[1].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_7[2].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_7[3].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_7[4].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_7[5].getIMG()}}"/></td>
        <td class="boardSquare white"><img src="{{row_7[6].getIMG()}}"/></td>
        <td class="boardSquare black"><img src="{{row_7[7].getIMG()}}"/></td>
      </tr>
      <tr>
        <td class="center light-gray"> </td>
        <td class="center dark-gray"> 1 </td>
        <td class="center light-gray"> 2 </td>
        <td class="center dark-gray"> 3 </td>
        <td class="center light-gray"> 4 </td>
        <td class="center dark-gray"> 5 </td>
        <td class="center light-gray"> 6 </td>
        <td class="center dark-gray"> 7 </td>
        <td class="center light-gray"> 8 </td>
      </tr>

    </table>
  </div>

  <div class="columns center large-6 medium-3 small-12">
    <div class="row">
      <div class="colums large-12">
        <p> move some of the pieces around in order to play! </p>
      </div>
      <div class="colums large-12">

      </div>
    </div>
  </div>

</div>