<!DOCTYPE html>

<div class="row">  
  <div class="columns center large-6 medium-9 small-12">

    <table class="board">
      <tr class="row_0" ng-model="board.row_0">
        <td class="center light-gray"> A </td>
        <td class="boardSquare black" data-row="0" data-col="0">  </td>
        <td class="boardSquare white" data-row="0" data-col="1">  </td>
        <td class="boardSquare black" data-row="0" data-col="2">  </td>
        <td class="boardSquare white" data-row="0" data-col="3">  </td>
        <td class="boardSquare black" data-row="0" data-col="4">  </td>
        <td class="boardSquare white" data-row="0" data-col="5">  </td>
        <td class="boardSquare black" data-row="0" data-col="6">  </td>
        <td class="boardSquare white" data-row="0" data-col="7">  </td>
      </tr>
      
      <tr class="row_1" ng-model="board.row_1">
        <td class="center dark-gray"> B </td>
        <td class="boardSquare white" data-row="1" data-col="0">  </td>
        <td class="boardSquare black" data-row="1" data-col="1">  </td>
        <td class="boardSquare white" data-row="1" data-col="2">  </td>
        <td class="boardSquare black" data-row="1" data-col="3">  </td>
        <td class="boardSquare white" data-row="1" data-col="4">  </td>
        <td class="boardSquare black" data-row="1" data-col="5">  </td>
        <td class="boardSquare white" data-row="1" data-col="6">  </td>
        <td class="boardSquare black" data-row="1" data-col="7">  </td>
      </tr>
      
      <tr class="row_2" ng-model="board.row_2">
        <td class="center light-gray"> C </td>
        <td class="boardSquare black" data-row="2" data-col="0">  </td>
        <td class="boardSquare white" data-row="2" data-col="1">  </td>
        <td class="boardSquare black" data-row="2" data-col="2">  </td>
        <td class="boardSquare white" data-row="2" data-col="3">  </td>
        <td class="boardSquare black" data-row="2" data-col="4">  </td>
        <td class="boardSquare white" data-row="2" data-col="5">  </td>
        <td class="boardSquare black" data-row="2" data-col="6">  </td>
        <td class="boardSquare white" data-row="2" data-col="7">  </td>
      </tr>
      
      <tr class="row_3" ng-model="board.row_3">
        <td class="center dark-gray"> D </td>
        <td class="boardSquare white" data-row="3" data-col="0">  </td>
        <td class="boardSquare black" data-row="3" data-col="1">  </td>
        <td class="boardSquare white" data-row="3" data-col="2">  </td>
        <td class="boardSquare black" data-row="3" data-col="3">  </td>
        <td class="boardSquare white" data-row="3" data-col="4">  </td>
        <td class="boardSquare black" data-row="3" data-col="5">  </td>
        <td class="boardSquare white" data-row="3" data-col="6">  </td>
        <td class="boardSquare black" data-row="3" data-col="7">  </td>
      </tr>
      
      <tr class="row_4" ng-model="board.row_4">
        <td class="center light-gray"> E </td>
        <td class="boardSquare black" data-row="4" data-col="0">  </td>
        <td class="boardSquare white" data-row="4" data-col="1">  </td>
        <td class="boardSquare black" data-row="4" data-col="2">  </td>
        <td class="boardSquare white" data-row="4" data-col="3">  </td>
        <td class="boardSquare black" data-row="4" data-col="4">  </td>
        <td class="boardSquare white" data-row="4" data-col="5">  </td>
        <td class="boardSquare black" data-row="4" data-col="6">  </td>
        <td class="boardSquare white" data-row="4" data-col="7">  </td>
      </tr>
      
      <tr class="row_5" ng-model="board.row_5">
        <td class="center dark-gray"> F </td>
        <td class="boardSquare white" data-row="5" data-col="0">  </td>
        <td class="boardSquare black" data-row="5" data-col="1">  </td>
        <td class="boardSquare white" data-row="5" data-col="2">  </td>
        <td class="boardSquare black" data-row="5" data-col="3">  </td>
        <td class="boardSquare white" data-row="5" data-col="4">  </td>
        <td class="boardSquare black" data-row="5" data-col="5">  </td>
        <td class="boardSquare white" data-row="5" data-col="6">  </td>
        <td class="boardSquare black" data-row="5" data-col="7">  </td>
      </tr>
      
      <tr class="row_6" ng-model="board.row_6">
        <td class="center light-gray"> G </td>
        <td class="boardSquare black" data-row="6" data-col="0">  </td>
        <td class="boardSquare white" data-row="6" data-col="1">  </td>
        <td class="boardSquare black" data-row="6" data-col="2">  </td>
        <td class="boardSquare white" data-row="6" data-col="3">  </td>
        <td class="boardSquare black" data-row="6" data-col="4">  </td>
        <td class="boardSquare white" data-row="6" data-col="5">  </td>
        <td class="boardSquare black" data-row="6" data-col="6">  </td>
        <td class="boardSquare white" data-row="6" data-col="7">  </td>
      </tr>

      <tr class="row_7" ng-model="board.row_7">
        <td class="center dark-gray"> H </td>
        <td class="boardSquare white" data-row="7" data-col="0">  </td>
        <td class="boardSquare black" data-row="7" data-col="1">  </td>
        <td class="boardSquare white" data-row="7" data-col="2">  </td>
        <td class="boardSquare black" data-row="7" data-col="3">  </td>
        <td class="boardSquare white" data-row="7" data-col="4">  </td>
        <td class="boardSquare black" data-row="7" data-col="5">  </td>
        <td class="boardSquare white" data-row="7" data-col="6">  </td>
        <td class="boardSquare black" data-row="7" data-col="7">  </td>
      </tr>
      <tr>
        <td class="center light-gray"> </td>
        <td class="center dark-gray"> 1 </td>
        <td class="center light-gray"> 2 </td>
        <td class="center dark-gray"> 3 </td>
        <td class="center light-gray"> 4 </td>
        <td class="center dark-gray"> 5 </td>
        <td class="center light-gray"> 6 </td>
        <td class="center dark-gray"> 7 </td>
        <td class="center light-gray"> 8 </td>
      </tr>

    </table>
  </div>

  <div class="columns center large-6 medium-3 small-12">
    <div class="row">
      <div class="colums large-12">
        <p> move some of the pieces around in order to play! </p>
      </div>
      <div class="colums large-12">

      </div>
    </div>
  </div>

</div>